<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.listerners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="parallel test" parallel="methods" thread-count="4">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="test.dashboardTestCases"/>
            <class name="test.loginPageTest"/>
        </classes>
    </test>
</suite>


